---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">A complete list of my papers can be found on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <div class="archive__item">
        <h2 class="archive__item-title">{{ post.title }}</h2>
        {% if post.authors %}
          <p class="archive__item-authors">{{ post.authors }}</p>
        {% endif %}
        {% include archive-single-custom.html %}
      </div>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="archive__item">
      <h2 class="archive__item-title">{{ post.title }}</h2>
      {% if post.authors %}
        <p class="archive__item-authors">{{ post.authors }}</p>
      {% endif %}
      {% include archive-single-custom.html %}
    </div>
  {% endfor %}
{% endif %}

<style>
  .archive__item-title {
    margin: 0;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    color: #2a2a2a;
  }
  .archive__item-authors {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-style: italic;
    color: #666;
    font-size: 0.9em;
  }
  .archive__item {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #f2f3f3;
  }
</style>