---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">A complete list of my papers can be found on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <div class="publication-item">
        <div class="publication-title">{{ post.title }}</div>
        {% if post.authors %}
          <div class="publication-authors">{{ post.authors }}</div>
        {% endif %}
        {% include archive-single.html type="publication" %}
      </div>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="publication-item">
      <div class="publication-title">{{ post.title }}</div>
      {% if post.authors %}
        <div class="publication-authors">{{ post.authors }}</div>
      {% endif %}
      {% include archive-single.html type="publication" %}
    </div>
  {% endfor %}
{% endif %}

<style>
  .publication-item {
    margin-bottom: 0.5em;
  }
  
  .publication-title {
    margin-bottom: 0.3em;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .publication-authors {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 0.1em;  /* Reduced from 0.5em */
  }
  
  /* Style for the publication venue and other details */
  .archive__item-excerpt {
    color: #666;
    font-style: italic;
    margin-bottom: 0.3em;  /* Reduced from 1em */
  }

  /* Remove any author styling that might come from archive-single.html */
  .archive__item-title {
    display: none;
  }

  /* Style for the download link to maintain consistent spacing */
  .publication-item a {
    margin-top: 0.1em;
    display: inline-block;
  }
</style>